
<script src="ancestry.js"></script>
<script>
  var ancestry = JSON.parse(ANCESTRY_FILE)
  console.log(ancestry.length)

  // 
  function filter(ary, test) {
    var passed = []
    for(var i = 0; i < ary.length; i++) {
      if (test(ary[i], i, ary)) {
        passed.push(ary[i])
      }
    }
    return passed
  }


  function map(ary, mapper) {
    var result = []
    for(var i = 0; i < ary.length; i++) {
      result.push(mapper(ary[i], i, ary))
    }
    return result
  }

  function keyBy2(ary, key) {
    var result = {}
    ary.forEach(item => {
      reslut[item[key]] = item
    })
    return result
  }

  function keyBy(ary, key) {
    return ary.reduce((result, item) => {
      result[item[key]] = item
      return result
    }, {})
  }

  var byName = keyBy(ancestry, 'name')

  var name = 'Philibert Haverbeke'
  var target = 'Pauwels van Haverbeke'

  var start = byName[name]
  var current = start
  var count = 0

  while (current.name !== target) {
    count++
    current = byName[current.father]
  }

  console.log(count)

  /**
   * 计算person与PvH的共享基因数量
   */



  reduceAncestor('xx xx ', function(a, b){
    return (a + b) / 2
  }, 1, 0)

  function sharedDNAWithPvH(name) {
    var person = byName[name]
    if (!person) {
      return 0
    }
    if (name == 'Pauwels van Haverbeke') {
      return 1
    }
    return (
      sharedDNAWithPvH(person.father)
      +
      sharedDNAWithPvH(person.mother)
    ) / 2
  }


  function countAll(name) {
    var person = byName[name]
    if (!person) {
      return 0
    }
    var isCount = 0
    if (test(person)) {
      isCount = 1
    }
    return isCount + countAll(person.father) + countAll(person.mother)
  }


  function reduceAncestor(startName, combine, default1, default0) {
    return shared(startName)
    function shared(name) {
      var person = byName[name]
      if (!person) {
        return default0
      }
      if (name == 'Pauwels van Haverbeke') {
        return default1
      }
      return combine(
        shared(person.father),
        shared(person.mother)
      )
    }
  }
  function reduceAncestors(person, f, defaultValue) {
    function valueFor(person) {//给定一个人，计算其在某方面的值
      if (person == null)
        return defaultValue
      else
        return f(//给定一个人，及其父母在某方面的值，计算该人这这个方面的值
          person,
          valueFor(byName[person.mother]),
          valueFor(byName[person.father])
        )
    }
    return valueFor(person)
  }

  reduceAncestors(byName['Philibert Haverbeke'], function (p, fromFather, fromMother) {
    if (p.name == 'Pauwels van Haverbeke') {
      return 1
    } else {
      return (fromFather + fromMother) / 2
    }
  }, 0)


  function groupBy(ary, predicate) {
    var result = {}
    for(var i = 0; i < ary.length; i++) {
        var groupKey = predicate(ary[i], i, ary)
        if (groupKey in result) {
            result[groupKey].push(ary[i])
        } else {
            result[groupKey] = [ary[i]]
        }
    }
    return result
}
</script>
<script src="https://lodash.com/vendor/cdn.jsdelivr.net/npm/lodash@4.17.14/lodash.min.js"></script>