<script type="x">
  var a = 5
  var b = 8

  var name = prompt("What's your name?")

  console.log('your name is ' + name)
</script>
-1 < a && a < 1
<script type="x" id="ch0103/05">
  var a = +prompt('请输入 a 的值：')
  var b = +prompt('请输入 b 的值：')
  var c = +prompt('请输入 c 的值：')

  debugger
  console.log(d)
  var delta = b * b - 4 * a * c

  if (delta == 0) {

    var x = -b / 2 / a
    console.log(x)

  } else {
    if (delta > 0) {
      var s_delta = Math.sqrt(delta)

      var x1 = (-b + s_delta) / 2 / a
      var x2 = (-b - s_delta) / 2 / a

      console.log(x1, x2)
    } else {//delta < 0
      var s_delta = Math.sqrt(-delta)

      var x1 = (-b) / (2 * a) + '+' +  s_delta / (2 * a) + 'i'
      var x2 = (-b) / (2 * a) + '-' +  s_delta / (2 * a) + 'i'

      console.log(x1, x2)
    }
  }








</script>

<!-- <script type="xxxxx" id="ch0103/03">
  var a = Number(prompt('please input a'))
  var b = Number(prompt('please input b'))

  var r = (a / b) | 0
  var c = a % b

  console.log(r)
  console.log(c)
</script>

<script>
  

  if (x < 10) {
    if () {

    }
  } else {
    if {

    }

    if () {

    } else {

    }
  }
    
  

</script> -->