<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script src="react.development.js"></script>
    <script src="react-dom.development.js"></script>
    
    <!-- Don't use this in production: -->
    <script src="babel.min.js"></script>
  </head>
  <body>
    <input>
    <div id="root"></div>
    <script type="text/babel">

      class Counter extends React.Component  /*基类*/  {

        state = watch({
          age: 8,
          count: 0,
        }, () => this.forceUpdate())

        dec = () => {
          this.state.count--
        }

        inc = () => {
          this.state.count++
        }

        render() {
          return (
            <div>
              <button onClick={ this.dec }>-</button>
              <span>{ this.state.count }</span>
              <button onClick={ this.inc }>+</button>
              {
                this.renderXXXX()
              }
            </div>
          )
        }
      }

      class TodoApp extends React.Component {
        constructor(props) {
          super(props)

          this.state = {
            showing: 'all',// completed/active
            todos: [{
              content: 'eat',
              done: false,
            }, {
              content: 'sleep',
              done: false
            }]
          }
        }

        leftCount () {
          return this.state.todos.filter(it => !it.done).length
        }

        isAllSelected () {
          return this.state.todos.every(it => it.done)
        }

        hasCompleted () {
          return this.state.todos.some(it => it.done)
        }

        toggleTodoStatus (todo) {
          todo.done = !todo.done
          this.setState({})

          // this.forceUpdate()

          // this.setState({
          //   todos: this.state.todos.map(it => {
          //     if (it === todo) {
          //       it.done = !it.done
          //       return it
          //     } else {
          //       return it
          //     }
          //   })
          // })
        }

        deleteTodo (todo) {
          this.setState({
            todos: this.state.todos.filter(it => it !== todo)
          })
        }

        toggleAllSelection = () => {
          if (this.isAllSelected()) {
            this.setState({
              todos: this.state.todos.map(it => {
                it.done = false
                return it
              })
            })
          } else {
            this.setState({
              todos: this.state.todos.map(it => {
                if (!it.done) {
                  it.done = true
                }
                return it
              })
            })
          }
        }

        clearCompleted = () => {
          this.setState({
            todos: this.state.todos.filter(it => !it.done)
          })
        }

        render() {
          return (
            <div>
              <h1>Todos</h1>
              <div>
                <input type="checkbox" checked={ this.isAllSelected() } onChange={this.toggleAllSelection} />
                <input type="text" />
              </div>
              <ul>
                {
                  this.state.todos.map((todo, idx) => {
                    return (
                      <li key={idx}>
                        <input type="checkbox" checked={ todo.done } onChange={ () => this.toggleTodoStatus(todo) } />
                        <span>{ todo.content }</span>
                        <button onClick={() => this.deleteTodo(todo)}>x</button>
                      </li>
                    )
                  })
                }
              </ul>
              <div>
                <span>{ this.leftCount() } item(s) left</span>
                <span>
                  <input type="radio" checked={this.state.showing === 'all'}/>
                  <input type="radio" checked={this.state.showing === 'active'}/>
                  <input type="radio" checked={this.state.showing === 'completed'}/>
                </span>
                {this.hasCompleted() &&
                  <button onClick={this.clearCompleted}>Clear Completed</button>
                }
              </div>
            </div>
          )
        }
      }



      class BorderedTodoApp1 extends TodoApp {
        render() {
          return (
            <div style={{border:'1px solid'}}>
              {super.render()}
            </div>
          )
        }
      }

      class BorderedTodoApp2 extends React.Component {
        render() {
          return (
            <div style={{border:'1px solid'}}>
              <TodoApp/>
            </div>
          )
        }
      }


      function Welcome(props) {
        debugger
        return <h1>Hello, {props.name}</h1>;
      }

      function App() {
        return (
          <div>
            <p>test</p>
            <Welcome name="Sara" />
          </div>
        )
      }

      var content = <strong>hello</strong>

      function watch(obj, handler) {
        var scheduled = false
        return observe(obj)
        function observe(obj) {
          for(let prop in obj) {
            let val = obj[prop]
            if (typeof val == 'object') {
              val = observe(val)
            }
        
            Object.defineProperty(obj, prop, {
              get: function() {
                return val
              },
              set: function(value) {
                if (typeof value == 'object') {
                  value = observe(value)
                }
                val = value
                if (!scheduled) {
                  Promise.resolve().then(() => {
                    handler()
                    scheduled = false
                  })
                  scheduled = true
                }
              }
            })
          }
          return obj
        }
      }

      class Clock extends React.Component {
        constructor(props) {
          super(props)

          this.state = {
            date: new Date()
          }
        }

        tick() {
          console.log(this.state.date)
          this.setState({
            date: new Date()
          })
          console.log(this.state.date)
        }

        componentDidMount() {
          this.timerID = setInterval(
            () => this.tick(),
            1000
          )
        }

        componentWillUnmount() {
          clearInterval(this.timerID)
        }

        render() {
          return (
            <div>
              <div>
                <h1>Hello, world!</h1>
                <h2>It is {this.state.date.toLocaleTimeString()}.</h2>
              </div>
            </div>
          )
        }
      }

      class Test extends React.Component {
        constructor(props) {
          super(props)

          this.state = {
            count: 1,
            msg: 'hello'
          }
        }

        updateMsg = () => {

          this.setState(state => {
            debugger
            console.log(1)
            return {
              msg: state.msg + '2'
            }
          })

          this.setState(state => {
            debugger
            return {
              msg: state.msg + '2'
            }
          })

          console.log(2)
        }

        render() {
          return (
            <div onClick={this.updateMsg}>
              <p>{ this.state.msg }</p>
              <Count count={this.state.count}/>
            </div>
          )
        }
      }

      class Count extends React.Component {
        render() {
          console.log('count render')
          return (
            <div>{this.props.count}</div>
          )
        }
      }


      class IfElse extends React.Component {

        renderXXX(){
          if (xxx) {
            return <div>a</div>
          } else if (yyy) {
            return <div>b</div>
          } else {
            return <div>c</div>
          }
        }

        render() {
          return (
            <div>{ this.state.todos.map(todo => (<div></div>)) }</div>
          )
        }
      }

      function Test2(props) {
        return (
          <div>
            <ul>
              <li key="1"/>
              <li key="2"/>
            </ul>
            <ul>
              <li key="3"/>
              <li key="4"/>
            </ul>
          </div>
        )
      }

      class MyForm extends React.Component {

        constructor(props) {
          super(props)

          this.state = {
            text: 'foo',
          }
        }

        handleTextInput = (e) => {
          this.setState({
            text: e.target.value
          })
        }

        render() {
          return (
            <div>
              <input type="text" value={this.state.foo} />
            </div>
          )
        }
      }

      class Dialog extends React.Component{
        render() {
          return (
            <div style={   {border: '1px solid blue'}    }>
              <h1 className="Dialog-title">
                {this.props.title}
              </h1>
              <p className="Dialog-message">
                {this.props.message}
              </p>
            </div>
          )
        }
      }

      function WelcomeDialog2() {
        return <Dialog title="Welcome" message="Thank you for visiting our spacecraft!" />
      }

      class WelcomeDialog extends Dialog {
        constructor(props) {
          super(props)
          this.props.title = 'Welcome'
          this.props.message = 'Thank you for visiting our spacecraft!'
        }
      }
      function DescItem(props) {
        return <>
          <dt>{props.title}</dt>
          <dd>{props.desc}</dd>
        </>
      }
      function DescList() {
        console.log('new.target', new.target)
        debugger
        return (
          <dl>
            <DescItem title="hello" desc="world" />
            <DescItem title="hello" desc="ocean" />
          </dl>
        )
      }
      class Foo extends React.Component {
        constructor(props){
          super(props)
          debugger
        }
        render() {
          return <div>foo</div>
        }
      }
      ReactDOM.render(
        <div>
          <Foo />
          <DescList />
        </div>,
        document.getElementById('root')
      );

    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      Read this section for a production-ready setup with JSX:
      https://reactjs.org/docs/add-react-to-a-website.html#add-jsx-to-a-project

      In a larger project, you can use an integrated toolchain that includes JSX instead:
      https://reactjs.org/docs/create-a-new-react-app.html

      You can also use React without JSX, in which case you can remove Babel:
      https://reactjs.org/docs/react-without-jsx.html
    -->
  </body>
</html>
