<template>
  <div>
    <h1>hello</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ab aliquam pariatur enim, incidunt soluta eveniet facere nemo non, aut error, in laboriosam officia. Quis quaerat rerum deserunt ipsam nesciunt?</p>
  </div>

</template>
<style lang="scss">
  h1 {
    color: red;
  }

</style>
<script>


export default {
  components: {
  }
}
</script>