

[data-balloon] {
  position: relative;
}
[data-balloon]::before {
  content: attr(data-balloon);
  position: absolute;
  color: white;
  background-color: black;
  padding: 0.3em 0.6em;
  border-radius: 0.3em;
  transition: .3s;
  opacity: 0;
  box-sizing: border-box;
}
[data-balloon]::after {
  transition: .3s;
  opacity: 0;
}
[data-balloon]:hover::before,
[data-balloon]:hover::after {
  opacity: 1;
}




[data-balloon-pos="up"]::before,
[data-balloon-pos="down"]::before {
  left: 50%;
}

[data-balloon-pos="up"]::before {
  transform: translatex(-50%) translatey(8px);
  bottom: 100%;
}

[data-balloon-pos="down"]::before {
  transform: translatex(-50%) translatey(-8px);
  top: 100%;
}

[data-balloon-pos="left"]::before,
[data-balloon-pos="right"]::before {
  top: 50%;
  left: auto;
  bottom: auto;
}

[data-balloon-pos="left"]::before {
  transform: translatey(-50%) translatex(8px);
  right: 100%;
}

[data-balloon-pos="right"]::before {
  transform: translatey(-50%) translatex(-8px);
  left: 100%;
}

[data-balloon]::after {
  content:'';
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid black;
}
[data-balloon-pos="up"]::after {
  left: 50%;
  transform: translatex(-50%) translatey(16px);
  top: -8px;
  border-color: black transparent transparent;
}
[data-balloon-pos="down"]::after {
  left: 50%;
  transform: translatex(-50%) translatey(-16px);
  bottom: -8px;
  border-color: transparent transparent black;
}
[data-balloon-pos="left"]::after {
  top: 50%;
  transform: translatey(-50%) translatex(16px);
  left: -8px;
  border-color: transparent transparent transparent black;
}
[data-balloon-pos="right"]::after {
  top: 50%;
  transform: translatey(-50%) translatex(-16px);
  right: -8px;
  border-color: transparent  black transparent transparent ;
}


[data-balloon-pos="up"]:hover::before {
  transform: translatex(-50%) translatey(-8px);
}
[data-balloon-pos="up"]:hover::after {
  transform: translatex(-50%) translatey(0);
}


[data-balloon-pos="down"]:hover::before {
  transform: translatex(-50%) translatey(8px);
}
[data-balloon-pos="down"]:hover::after {
  transform: translatex(-50%) translatey(0);
}


[data-balloon-pos="left"]:hover::before {
  transform: translatey(-50%) translatex(-8px);
}
[data-balloon-pos="left"]:hover::after {
  transform: translatey(-50%) translatex(0);
}

[data-balloon-pos="right"]:hover::before {
  transform: translatey(-50%) translatex(8px);
}
[data-balloon-pos="right"]:hover::after {
  transform: translatey(-50%) translatex(0);
}


[data-balloon-size="small"]::before {
  width: 80px;
}

[data-balloon-size="medium"]::before {
  width: 160px;
}
[data-balloon-size="large"]::before {
  width: 240px;
}
[data-balloon-size="xlarge"]::before {
  width: 380px;
}
[data-balloon-size="fit"]::before {
  width: 100%;
}

/* 无pos属性时 */
[data-balloon]:not([data-balloon-pos])::before {
  left: 50%;
  transform: translatex(-50%) translatey(8px);
  bottom: 100%;
}
[data-balloon]:not([data-balloon-pos]):hover::before {
  left: 50%;
  transform: translatex(-50%) translatey(-8px);
  bottom: 100%;
}
[data-balloon]:not([data-balloon-pos])::after {
  left: 50%;
  transform: translatex(-50%) translatey(16px);
  top: -8px;
  border-color: black transparent transparent;
}
[data-balloon]:not([data-balloon-pos]):hover::after {
  transform: translatex(-50%) translatey(0px);
}
/* 无pos属性结束 */


