et 

@import "../common.css";
@import "../layout.css";
@import "../theme.css";


p {
  color: red; font-size: 25px; border: 8px solid;
}

a::after {
  content: '(' attr(href) ')'
}

div {
  color: red;
  font-size: 25px;
  border: 8px solid;
  margin: 8px;
}

span {
  color: red;
  font-size: 25px;
  border: 8px solid;
  margin: 8px;
}

em {
  font-weight: bold;
}