<template>
  <div id="app">
    <h1>创建投票</h1>
    <div><input type="text" placeholder="标题" v-model="voteInfo.title"></div>
    <div><input type="text" placeholder="描述" v-model="voteInfo.desc"></div>
    <div v-for="(option, idx) of voteInfo.options" :key="idx">
      <input type="text" :placeholder="'选项' + (idx + 1)" v-model="voteInfo.options[idx]">
      <button @click="voteInfo.options.splice(idx, 1)">-</button>
    </div>
    <div><button @click="voteInfo.options.push('')">添加选项</button></div>
    <div>截止时间：<input type="datetime-local" v-model="voteInfo.deadline"></div>
    <div>
      <label><input type="radio" value="0" v-model="voteInfo.anonymouse"> 实名</label>
      <label><input type="radio" value="1" v-model="voteInfo.anonymouse"> 匿名</label>
    </div>
    <div>
      <select v-model="voteInfo.singleSelection">
        <option value="1">单选</option>
        <option value="0">多选</option>
      </select>
    </div>
    <button @click="submit">提交</button>
  </div>
</template>
<script>
import api from '../api';

export default {
  data() {
    return {
      voteInfo: {
        title: '',
        desc: '',
        options: ['', ''],
        deadline: new Date(Date.now() + 86400000).toISOString().slice(0, 16),
        anonymouse: '0',
        singleSelection: '1',
      },
    };
  },
  methods: {
    async submit() {
      const request = await api.post('/vote', this.voteInfo);
      const { data } = request;
      this.$router.push(`/vote/${data.id}`);
      // this.$emit('create-success', data.id)
      // location.href = '/vote-vue.html?id=' + data.id
    },
  },
};
</script>
