<template>
  <div>
    <h3>登陆</h3>
    <input placeholder="用户名" type="text" v-model="info.name" />
    <input placeholder="密码" type="password" v-model="info.password" />
    <button @click="login">登陆</button>
  </div>
</template>
<script>
import api from '../api';

export default {
  data() {
    return {
      info: {
        name: '',
        password: '',
      },
    };
  },
  methods: {
    async login() {
      await api.post('/login', this.info);
      this.$router.push('/');
    },
  },
};
</script>
