<template>
  <div>
    <h3>注册</h3>
    <input placeholder="用户名" type="text" v-model="info.name" />
    <input placeholder="电子邮箱" type="text" v-model="info.email" />
    <input placeholder="密码" type="password" v-model="info.password" />
    <button @click="register">注册</button>
  </div>
</template>
<script>
import api from '@/api';

export default {
  data() {
    return {
      info: {
        name: '',
        email: '',
        password: '',
      },
    };
  },
  methods: {
    async register() {
      try {
        await api.post('/register', this.info);
        this.$router.push('/');
      } catch (e) {
        alert(e.response.data.msg);
      }
    },
  },
};
</script>
