<template>
  <div id="app">

    <div>
      <h1>{{ vote.info.title }}</h1>
      <h3>{{ vote.info.desc }}</h3>
    </div>

    <ul class="options">
      <li @click="voteup(option.id)" v-for="option in vote.options">
        {{ option.content }} - {{ summary[option.id].length }} 票
        <div class="ratio" style="height: 3px;background: red;" :style="{width: ratioSummary[option.id] * 100 + '%'}"></div>
      </li>
    </ul>

  </div>
</template>
<script>
import _ from 'lodash';
import io from 'socket.io-client';
import api from '../api';

export default {
  watch: {
    $route(to, from) {
      this.init();
    },
  },
  async mounted() {
    this.init();
  },
  data() {
    return {
      vote: {
        info: {},
        options: [],
        voteups: [],
      },
    };
  },
  computed: {
    summary() {
      const obj = _.mapValues(_.keyBy(this.vote.options, 'id'), () => []);

      return {
        ...obj,
        ..._.groupBy(this.vote.voteups, 'optionid'),
      };
    },
    ratioSummary() {
      return _.mapValues(this.summary, (voteups, voteid) => {
        if (voteups.length == 0) {
          return 0;
        }
        return voteups.length / this.vote.voteups.length;
      });
    },
  },
  methods: {
    async init() {
      const { id } = this.$route.params;

      const request = await api.get(`vote/${id}`);
      const { data } = request;
      console.log(data);
      this.vote = data;

      this.vote.voteups = _.uniqBy(this.vote.voteups, 'userid');

      // 以下为实时更新的逻辑

      this.socket = io('http://localhost:3005/');
      this.socket.emit('select room', id);

      this.socket.on('new vote', (data) => {
        this.vote.voteups = this.vote.voteups.filter(it => it.userid != data.userid);
        this.vote.voteups.push(data);
        // this.vote.voteups = _.uniqBy(this.vote.voteups, 'userid')
      });
    },
    voteup(optionid) {
      api.post('/voteup', {
        optionid,
        voteid: this.vote.info.id,
      });
    },
  },
};
</script>
