extends layout.pug

block content
  h2 创建投票
  form#form(action='/create-vote', method='post')
    div
      input(type='text', placeholder='标题', name='title', required='')
    div
      input(type='text', placeholder='问题描述', name='desc')
    div
      input(type='text', placeholder='选项', name='options')
      button.remove-option(type='button') -
    div
      input(type='text', placeholder='选项', name='options')
      button.remove-option(type='button') -
    #add-option-wrap
      button#add-option(type='button') 添加选项
    div
      input(type='datetime-local', placeholder='截止日期', name='deadline')
    div
      | 非匿名
      input(type='radio', checked='', value='1', name='anonymouse')
      |       匿名
      input(type='radio', value='0', name='anonymouse')
    div
      select(name='singleSelection')
        option(value='1') 单选
        option(value='0') 多选
    div
      button 创建投票
  script.
    var form = document.querySelector('#form')
    var addOptionBtn = document.querySelector('#add-option')
    var addOptionBtnWrap = document.querySelector('#add-option-wrap')
    form.addEventListener('click', e => {
      if (e.target.matches('.remove-option')) {
        e.target.parentNode.remove()
      }
    })
    addOptionBtn.addEventListener('click', e => {
      var wrap = document.createElement('div')
      wrap.innerHTML = '<div><input type="text" placeholder="选项"" name="options" /><button type="button" class="remove-option">-</button></div>'
      wrap.firstChild
      form.insertBefore(wrap.firstChild, addOptionBtnWrap)
    })
