extends layout.pug

block content
  h1= vote.title
  h3= vote.desc

  ul(data-voteid=vote.id)#option-list
    each option in options
      li(data-optionid=option.id)= option.content
        span


  script(src="/socket.io/socket.io.js")
  script.

    var optionList = document.querySelector('#option-list')

    function updateState(voteResult) {
      var counted = _.countBy(voteResult, 'optionid')
      _.forEach(counted, (val, key) => {
        document.querySelector(`[data-optionid="${key}"]`).lastChild.textContent = '/' + val +'票'
      })
    }

    async function main() {
      var voteResult = (await axios.get(`/voteup/${optionList.dataset.voteid}/info`)).data

      if (voteResult == null) {
        voteResult = []
      }

      var socket = io()

      socket.on('new vote', data => {
        voteResult.push(data)
        updateState(voteResult)
      })

      updateState(voteResult)
    }

    main()

    optionList.addEventListener('click', async e => {
      var optionid = e.target.dataset.optionid
      
      var voteResult = (await axios.post('/voteup', {
        voteid: optionList.dataset.voteid,
        optionid: optionid,
      })).data

      updateState(voteResult)

    })
    

