<script src="https://lodash.com/vendor/cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
<script>

window.addEventListener('click', () => console.log('click'))

window.addEventListener('click', _.throttle(() => console.log('throttled click'), 2000))

// var timerId = null
// window.addEventListener('mousewheel', e => {
//   clearTimeout(timerId)
//   timerId = setTimeout(() => console.log(1), 200)
// })

// function debounce(f, duration) {
//   var timerId = null
//   return function(...args) {
//     clearTimeout(timerId)
//     var timerId = setTimeout(() => f.call(this, ...args), duration)
//   }
// }


// window.addEventListener('mousemove', throttle(() => {
//   console.log(2)
// }, 600))


// function throttle(f, duration) {
//   var timerId
//   var lastRunTime = 0

//   return function(...args) {
//     clearTimeout(timerId)
//     var now = Date.now()
//     if (now - lastRunTime > duration) {
//       f(...args)
//       lastRunTime = now
//     } else {
//       timerId = setTimeout(() => {
//         f(...args)
//         lastRunTime = Date.now()
//       }, duration)
//     }
//   }
// }

</script>