<div>

</div>

<style>
  div {
    border: 8px solid; 
    height: 200px;
  }
</style>

<script>
  console.log('load')


  var div = document.querySelector('div')

  div.ondragenter = function name(e) {
    div.style.borderColor = 'red'
    e.preventDefault()
  }
  div.ondragleave = function name(e) {
    div.style.borderColor = 'black'
    e.preventDefault()
  }
  div.ondragend = function (e) {
    console.log('end', e)
    e.preventDefault()
  }
  div.ondragover = e => {
    console.log('over', e)
    e.preventDefault()
  }
  div.ondrop = function (e) {
    console.log('drop', e)
    console.log(e.dataTransfer.files[0])
    var fr = new FileReader()
    fr.onload = function(){
      div.textContent = fr.result
    }
    fr.readAsText(e.dataTransfer.files[0])
    e.preventDefault()
  }
</script>