
<script>
  // window.onerror = function(...args) {
  //   console.log(args)
  // }
  window.addEventListener('error', function(...args) {
    console.log(args)
  })
</script>
<script src="has-error.js"></script>