<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    .completed {
      text-decoration: line-through;
    }
  </style>
</head>
<body>
    <div id="todo-app">
      <div>
        <input type="checkbox" @click="toggleAll" :checked="todos.every(it => it.done)">
        <input type="text" @keyup="addTodo">
      </div>
      <ul>
        <li v-for="(todo, index) in getShowing()" :class=" todo.done ? 'completed' : 'active' ">
          <input type="checkbox" :checked="todo.done" @click="todo.done = !todo.done">
          <span @dblclick="editingIndex = index" v-if="editingIndex != index">{{todo.content}}</span>
          <input @keydown="cancelEdit" @blur="changeTodo($event, todo)" @keyup.enter="changeTodo($event, todo)" v-if="editingIndex == index" type="text" :value="todo.content">
          <button @click="todos.splice(index, 1)">delete</button>
        </li>
      </ul>
      <div>
        <span>{{todos.filter(it => !it.done).length}} item{{todos.filter(it => !it.done).length > 1 ? 's' : ''}} left</span>
        <span>
          <label><input type="radio" :checked=" category == 'all' " @click=" category = 'all' "> All</label>
          <label><input type="radio" :checked=" category == 'active' " @click=" category = 'active' "> Active</label>
          <label><input type="radio" :checked=" category == 'completed' " @click=" category = 'completed' "> Completed</label>
        </span>
        <button v-show="todos.filter(it => it.done).length > 0" @click="todos = todos.filter(it => !it.done)">clear completed</button>
      </div>
    </div>

  <script src="https://unpkg.com/vue"></script>
  <script>
    var app = new Vue({
      el: '#todo-app',
      data: {
        editingIndex: -1,
        category: 'all',
        todos: [{
          content: 'eat',
          done: false
        }, {
          content: 'drink',
          done: true,
        }, {
          content: 'sleep',
          done: true
        }]
      },
      methods: {
        getShowing() {
          if (this.category == 'all') {
            return this.todos
          }
          if (this.category == 'active') {
            return this.todos.filter(it => !it.done)
          }
          if (this.category == 'completed') {
            return this.todos.filter(it => it.done)
          }
        },
        cancelEdit(e) {
          if (e.keyCode == 27) {
            console.log('esc')
            e.preventDefault()
            this.editingIndex = -1
          }
        },
        changeTodo(e, todo) {
          if (this.editingIndex == -1) {
            return
          }
          console.log(e.type)
          todo.content = e.target.value.trim()
          this.editingIndex = -1
        },
        addTodo(e) {
          var text = e.target.value.trim()
          if (text && e.keyCode == 13) {
            this.todos.push({
              content: text,
              done: false,
            })
            e.target.value = ''
          }
        },
        toggleAll() {
          if (this.todos.every(it => it.done)) {
            this.todos.forEach(it => it.done = false)
          } else {
            this.todos.forEach(it => it.done = true)
          }
        }

      }
    })

  </script>
</body>
</html>