<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <div id="app">
    <button-counter fooo="8" @change="counterChanges" v-for="(c, index) in counters" :key="index" :start="c.start" :step="c.step"></button-counter>
    <hr>
    <button-counter :start="8" :step="2"></button-counter>
    <button-counter></button-counter>
    <slider :imgs=" ['a.png', 'b.png'] "></slider>

    <table>
      <tr>
        <td is="my-table-cell"></td>
        <my-table-cell></my-table-cell>
        <my-table-cell></my-table-cell>
      </tr>
    </table>
  </div>

  <script src="vue.js"></script>
  <script src="components.js"></script>
  <script>

    Vue.component('my-table-cell', {
      template: `
        <td>aaa</td>
      `
    })

    Vue.component('button-counter', {
      props: {
        start: {
          default: 0,
        },
        step: {
          default: 1,
        }
      },

      // props: ['start', 'step'],
      template: `
        <span>
          <table>
            <tr>
              <MyTableCell></MyTableCell>  
            </tr>
          </table>
          <button @click="dec">-</button>
          <span>{{ count }}</span>
          <button @click="inc">+</button>
        </span>
      `,
      data() {
        return {
          count: this.start,
        }
      },
      methods: {
        dec() {
          this.count -= this.step
          this.$emit('change', this.count)
        },
        inc() {
          this.count += this.step
          this.$emit('change', this.count)
        }
      }
    })


    Vue.component('slider', {
      props: ['imgs'],
      template:`
        <div>
          <foo></foo>
          <div>
            <img :src="imgs[currSliderIdx]" />
          </div>
          <button-counter @change="changeSlider"></button-counter>
        </div>
      `,

      data() {
        return {
          currSliderIdx: 0
        }
      },
      methods: {
        changeSlider(cur) {
          this.currSliderIdx = cur
        }
      }
    })

    var app = new Vue({
      el: '#app',
      data() {

        return {
          a: 1,
          counters: [{
            start: 5, step: 8
          }, {
            start: 15, step:3
          }, {
            start: 99, step: -1
          }]
        }
      },
      methods: {
        counterChanges(cur) {
          console.log(cur)
        }
      }
    })
    

  </script>
</body>
</html>
