<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <div id="app">
    <!-- <date-picker :value="born" @input="born = $event"></date-picker> -->

    <date-picker v-model="born"></date-picker>

    <regexp-input v-model="re">
      <p>foobar</p>
    </regexp-input>


    <captcha-input v-model="captcha" @input-complete="send"></captcha-input>

    <hr>
    <input type="date" v-model="date">
  </div>

  <script src="vue.js"></script>
  <script>

    Vue.component('regexp-input', {
      props: {
        value: {
          type: RegExp,
          required: true,
        }
      },
      template: `
        <span style="display: inline-block;border: 2px solid;padding: 5px;">
          <input type="text" v-model="reText" @change="reTextChange">
          <span>
            <input
              type="checkbox"
              @change="reTextChange"
              v-for="flag of flags"
              v-model="flag.value"
              :title="flag.displayName"
            >
          </span>
        </span>
      `,
      methods: {
        reTextChange(e) {
          var re = new RegExp(this.reText, this.flags.filter(it => it.value).map(it => it.name).join(''))
          this.$emit('input', re)
        },
        getFlagArray(re) {
          var flags = [{
            displayName: 'ignoreCase',
            name: 'i',
            value: false
          }, {
            displayName: 'global',
            name: 'g',
            value: false
          }, {
            displayName: 'multiline',
            name: 'm',
            value: false
          }]

          flags.forEach(flag => {
            if (re.flags.indexOf(flag.name) >= 0) {
              flag.value = true
            }
          })
          return flags
        }
      },
      watch: {
        value(val) {
          this.reText = val.source
          this.flags = this.getFlagArray(val)
        }
      },
      data() {
        return {
          reText: this.value.source,
          flags: this.getFlagArray(this.value),
        }
      },
    })

    Vue.component('captcha-input', {
      props: ['value'],
      template: `
        <span>
          <input
            style="width: 1em; text-align:center"
            type="text"
            @keyup="keyup"
            v-for="(char,i) of chars"
            v-model="chars[i]"
          />
          <regexp-input></regexp-input>
        </span>
      `,
      methods: {
        keyup: function(e) {
          console.log(e)
          if (e.key == 'Backspace') {
            e.preventDefault()

            var prev = e.target.previousElementSibling
            var next = e.target.nextElementSibling

            if (!next) {//is last
              if (e.target.value.trim()) {//last is not empty
                e.target.value = ''
                return
              } else {
                prev.value = ''
                prev.focus()
                return
              }
            }

            prev.value = ''
            prev.focus()
            
            return
          }
          if (e.target.value.trim().length) {
            if (e.target.nextElementSibling) {
              e.target.nextElementSibling.focus()
            } else {
              this.$emit('input-complete', this.chars.join(''))
              this.$emit('input', this.chars.join(''))
            }
          }
        }
      },
      data() {
        return {
          chars: ['','','','','','']
        }
      },
      components: {
        foo: {},
        bar: {},
      }
    })

    Vue.component('date-picker', {
      props: {
        value: {
          type: Date,
          default: new Date(),
        }
      },
      template: `
        <span>
          请选择日期：
          <input type="date" :value="date" @change="dateChange"/>
        </span>
      `,
      methods: {
        dateChange(e) {
          this.$emit('input', new Date(e.target.value))
        }
      },
      watch: {
        value(val) {
          this.date = val.toLocaleDateString().replace(/\//g, '-')
        }
      },
      data() {
        var initVal = this.value.toLocaleDateString().replace(/\//g, '-')
        console.log(initVal)
        return {
          date: initVal
        }
      }
    })

    var app = new Vue({
      el: '#app',
      data() {

        return {
          captcha: '',
          re: /foo/ig,
          born: new Date("2018-12-12"),
          date: '',
          a: {x:1},
          counters: [{
            start: 5, step: 8
          }, {
            start: 15, step:3
          }, {
            start: 99, step: -1
          }]
        }
      },
      methods: {
        send(captcha) {
          console.log(captcha)
        },
        counterChanges(cur) {
          console.log(cur)
        }
      }
    })
    

  </script>
</body>
</html>
