<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>


    <div id="app-5">
      <div v-for="(item, idx) of list" :key="idx">
        <input type="text"> <button @click="del(idx)">-</button>
      </div>
    </div>

  <script src="vue.js"></script>
  <script>

    var app5 = new Vue({
      el: '#app-5',
      methods: {
        del(idx) {
          console.log(idx)
          this.list.splice(idx, 1)
        }
      },
      data: {
        list: ["1","2","3","4"]
      },
    })
    

  </script>
</body>
</html>
