<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

    <div id="app-5">
        <h3>{{ time }}</h3>
        <p @click="i++">{{msg}} - {{i}}</p>
    </div>

  <script src="vue.js"></script>
  <script>

    var data = {
      msg: 'hello world',
      i:1,
      time: new Date().toString(),
    }


    var app = new Vue({
      el: '#app-5',
      data: data,
      methods: {
        foo: function(){}
      },
      beforeCreate() {
        debugger
      },
      created() {
        this.fooDebounced = _.debounce(this.foo, 500)
        this.intervalId = setInterval(() => {
          app.time = new Date().toString()
        }, 1000)
        debugger
      },
      beforeMount() {
        debugger
      },
      async mounted() {
        var info = await axios.get('/user/info')
        this.userInfo = info
        debugger
      },
      beforeUpdate() {
        debugger
      },
      updated() {
        debugger
      },
      beforeDestroy() {
        clearInterval(this.intervalId)
        debugger
      },
      destroyed() {
        debugger
      }
    })
    

  </script>
</body>
</html>
