<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>


    <div id="app-5">
      <select v-model="foo">
        <option :value="item" v-for="item of list" :key="item">{{item}}</option>
      </select>
    </div>

  <!-- <script src="vue.js"></script> -->
  <script src="http://104.194.71.73:8081/vue.js"></script>
  <script>

    var app5 = new Vue({
      el: '#app-5',
      data: {
        foo: 'a',
        i: 0,
        list: ['a','b','c']
      },
      computed: {
        show() {
          var x = this.i
          console.log(1)
          return ['1','3']
        }
      },
      methods: {
        func() {
          this.foo = ''
        }
      }
    })
    

  </script>
</body>
</html>
