<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

    <div id="app-5">

      <todo-app></todo-app>

    </div>

  <script src="vue.js"></script>
  <script>

    Vue.component('todo-app', {
      template: `
        <div>
          <todo-input @new-todo="newTodo" @toggle-select-all="toggleSelectAll" :todos="todos"></todo-input>
          <todo-list @delete="deleteTodo" @toggle-state="toggleTodoState" :todos="todos"></todo-list>
          <todo-footer></todo-footer>
        </div>
      `,
      methods: {
        newTodo(content) {
          console.log(1)
          if (content) {
            this.todos.push({
              content,
              done: false,
            })
          }
        },
        toggleSelectAll() {
          if (this.todos.every(it => it.done)) {
            this.todos.forEach(it => {
              it.done = false
            })
          } else {
            
            this.todos.forEach(it => {
              it.done = true
            })
          }
        },
        deleteTodo(todo) {
          this.todos = this.todos.filter(it => it !== todo)
        },
        toggleTodoState(todo) {
          todo.done = !todo.done
        },
      },
      data() {
        return {
          todos: [{
            content: 'eat',
            done: false,
          }, {
            content: 'drink',
            done: true,
          }, {
            content: 'sleep',
            done: false,
          }]
        }
      }
    })

    Vue.component('todo-input', {
      props: ['todos'],
      template: `
        <div>
          <input type="checkbox" @click=" $emit('toggle-select-all') " :checked="todos.every(it => it.done)">
          <input type="text" @keyup.enter=" $emit('new-todo', $event.target.value.trim()) ">
        </div>
      `,
      data() {
        return {

        }
      }
    })

    Vue.component('todo-list', {
      props: ['todos'],
      template: `
        <ul>
          <todo-item
            v-for="(todo, idx) of todos" :todo="todo"
            :key="idx"
            @toggle-state="$emit('toggle-state', todo)"
            @delete="$emit('delete', todo)"
          >
          </todo-item>
        </ul>
      `
    })

    Vue.component('todo-item', {
      props: ['todo'],
      template: `
        <li>
          <input type="checkbox" :checked="todo.done" @click=" $emit('toggle-state') ">
          <span>{{ todo.content }}</span>
          <button @click=" $emit('delete') ">x</button>
        </li>
      `
    })

    Vue.component('todo-footer', {
      template: `
        <div>
          footer
        </div>
      `
    })

    var app5 = new Vue({
      el: '#app-5',
      methods: {
        del(idx) {
          console.log(idx)
          this.list.splice(idx, 1)
        }
      },
      data: {
        list: ["1","2","3","4"]
      },
    })
    

  </script>
</body>
</html>
