<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    .completed {
      text-decoration: line-through;
    }
  </style>
</head>
<body>
    <div id="todo-app">
      <h1>Todos</h1>
      <div>
        <input type="checkbox" @click="toggleAll" :checked="isAllSelected">
        <input type="text" @keyup="addTodo">
      </div>
      <ul>
        <li v-for="(todo, index) in getShowing" class="todo-item" :class=" {completed: todo.done, active: !todo.done} ">
          <input type="checkbox" :checked="todo.done" @click="todo.done = !todo.done">
          <span @dblclick="editingIndex = index" v-if="editingIndex != index">{{todo.content}}</span>
          <input @keydown="cancelEdit" @blur="changeTodo($event, todo)" @keyup.enter="changeTodo($event, todo)" v-if="editingIndex == index" type="text" :value="todo.content">
          <button @click="deleteTodo(todo)">delete</button>
        </li>
      </ul>
      <div>
        <span>{{ leftCount }} item{{ plural }} left</span>
        <span>
          <label><input type="radio" :checked=" category == 'all' " @click=" category = 'all' "> All</label>
          <label><input type="radio" :checked=" category == 'active' " @click=" category = 'active' "> Active</label>
          <label><input type="radio" :checked=" category == 'completed' " @click=" category = 'completed' "> Completed</label>
        </span>
        <button :style=" 'border-sizing:border-box;' " :class="[[[[objClassName]]], {a:true,b:true}, 'fooooo', 'barrr']" v-show="hasCompleted" @click="todos = todos.filter(it => !it.done)">clear completed</button>
      </div>
    </div>

  <script src="vue.js"></script>
  <script>
    var app = new Vue({
      el: '#todo-app',
      data: {
        editingIndex: -1,
        category: 'all',
        objClassName: {
          foo: true,
          bar: false,
        },
        todos: [{
          content: 'eat',
          done: false
        }, {
          content: 'drink',
          done: true,
        }, {
          content: 'sleep',
          done: true
        }]
      },
      computed: {
        btnStyle() {
          return {
            color: 'red',
            fontSize: this.todos.length * 8 + 'px',
          }
        },
        isAllSelected: function(){
          console.log(1)
          return this.todos.every(it => it.done)
        },
        hasCompleted: function() {
          return this.todos.filter(it => it.done).length > 0
        },
        leftCount() {
          return this.todos.filter(it => !it.done).length
        },
        plural() {
          return this.leftCount > 1 ? 's' : ''
        },
        getShowing() {
          if (this.category == 'all') {
            return this.todos
          }
          if (this.category == 'active') {
            return this.todos.filter(it => !it.done)
          }
          if (this.category == 'completed') {
            return this.todos.filter(it => it.done)
          }
        },
      },
      methods: {
        deleteTodo(todoObj) {
          // this.todos.splice(idx, 1)
          this.todos = this.todos.filter(it => it != todoObj)
        },
        cancelEdit(e) {
          if (e.keyCode == 27) {
            console.log('esc')
            e.preventDefault()
            this.editingIndex = -1
          }
        },
        changeTodo(e, todo) {
          if (this.editingIndex == -1) {
            return
          }
          console.log(e.type)
          todo.content = e.target.value.trim()
          this.editingIndex = -1
        },
        addTodo(e) {
          var text = e.target.value.trim()
          if (text && e.keyCode == 13) {
            this.todos.push({
              content: text,
              done: false,
            })
            e.target.value = ''
          }
        },
        toggleAll() {
          if (this.todos.every(it => it.done)) {
            this.todos.forEach(it => it.done = false)
          } else {
            this.todos.forEach(it => it.done = true)
          }
        }
      }
    })

  </script>
</body>
</html>