<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>


    <div id="app-5">
      <ul>
        <li v-for="item in list" :keyxx="item.name">{{ item.name }}</li>
      </ul>
      
      <input v-model.trim="msg">
      <input type="checkbox" v-model="answer" :true-value="2" :false-value="3">
      <dl>
        <template v-for="(ports, domain) in server_ports">
          <dt>{{domain}}</dt>
          <dd v-for="port of ports">{{port}}</dd>
        </template>
      </dl>

    </div>

  <script src="vue.js"></script>
  <script>

    var app5 = new Vue({
      el: '#app-5',
      watch: {
        msg: function(val) {
          console.log(val)
        }
      },
      data: {
        answer: 2,
        msg: '',
        server_ports: {
          'foo.com': [9988, 8899, 8005],
          'bar.cn': [3355,135,139],
          'ms.com': [3389],
        },
        list: [{
          name: 'zhangshan'
        }, {
          name: 'lishi'
        }, {
          name: 'wangwu'
        }]
      },
    })
    

  </script>
</body>
</html>
