<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>


    <div id="app-5">
        <template v-if="loginType === 'username'">
          <label>Username</label>
          <input placeholder="Enter your username">
        </template>

        <template v-show="false">
          <label>Email</label>
          <input placeholder="Enter your email address">
        </template>
        
    </div>

  <script src="vue.js"></script>
  <script>

    var app5 = new Vue({
      el: '#app-5',
      data: {
        loginType: 'username'
      },
    })
    

  </script>
</body>
</html>
